{{- $envType := promptStringOnce . "envType" "Environment type (private/work)" -}}

encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1l7utwvzex3qv7jn5gh0hmafcfvgggtpey367tw072qeavafcau0qud7ghq"

[edit]
    command = "code"
    args = ["--wait"]

[data.env]
    type = {{ $envType | quote }}

