#!/usr/bin/env zsh

SCRIPT_DIR="${0:A:h}"

### dotfiles

echo "Updating dotfiles ..."
chezmoi update --init
echo

# handle further updates from a separate file
# as this could have been update with dotfiles
"$SCRIPT_DIR/update-deps"

### Done

echo "Reloading environment ..."
exec $SHELL -l
