[tools]
usage = 'latest'
python = '3.14'
node = '24'

[settings]
all_compile = false # explicitly disable for nixos
idiomatic_version_file_enable_tools = []

[env]
NPM_MAIN_REGISTRY = "https://registry.npmjs.org/"
CLAUDE_CODE_OAUTH_TOKEN = "{{ onepasswordRead "op://Private/chezmoi/CLAUDE_CODE_OAUTH_TOKEN" }}"
COPILOT_GITHUB_TOKEN = "{{ onepasswordRead "op://Private/chezmoi/COPILOT_GITHUB_TOKEN_PERSONAL" }}"

