// niri msg outputs
output "Dell Inc. DELL S3422DWG 9MMTS63" {
    mode "3440x1440@99.982"
    scale 1.0
    position x=0 y=0
    focus-at-startup
    
    hot-corners {
        off
    }
}

output "LG Electronics LG HDR 4K 0x00078454" {
    mode "3840x2160@60.000"
    scale 1.5
    position x=440 y=-1440

    hot-corners {
        off
    }
}