// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

spawn-at-startup "noctalia-shell"

// GUI applications
spawn-at-startup "1password"
spawn-at-startup "spotify"
spawn-at-startup "vesktop"
spawn-sh-at-startup "sleep 1; whatsapp-electron"
