#!/usr/bin/env zsh

echo "Installing zinit ..."
bash -c "$(curl --fail --show-error --silent --location https://raw.githubusercontent.com/zdharma-continuum/zinit/HEAD/scripts/install.sh)"

{{ if eq .chezmoi.os "darwin" -}}
echo "Installing phoenix config ..."
git clone https://github.com/naeramarth7/phoenix-config.git ~/.config/phoenix
cd (~/.config/phoenix && npm install && npm run build)
{{- end }}
