#!/usr/bin/env zsh

echo "Updating dotfiles ..."
chezmoi update --init
echo

{{ if eq .chezmoi.os "darwin" -}}
echo "Updating OS X software ..."
sudo softwareupdate --all --install --force
echo

echo "Updating brew and packages ..."
brew-update
echo

echo "Handle brew specific packages ..."
skhd --start-service
yabai --start-service
echo
{{- end }}

echo "Updating global mise-configured tools ..."
(cd ~ && mise install)
echo

{{ if eq .tools.nodejs true -}}
echo "Updating npm...""
npm i -g npm
echo
{{- end }}

echo "Updating zinit and plugins ..."
zinit self-update
echo

echo "Update / install safe-chain ..."
curl -fsSL https://github.com/AikidoSec/safe-chain/releases/latest/download/install-safe-chain.sh | sh

# Reload zsh env
echo "Reloading environment ..."
$SHELL -l
