#!/usr/bin/env zsh

SCRIPT_DIR="${0:A:h}"

### dotfiles

echo "Updating dotfiles ..."
chezmoi update --init
echo

{{ if eq .chezmoi.os "darwin" -}}

### macOS

echo "Updating macOS software ..."
sudo softwareupdate --all --install --force
echo

### Brew

echo "Updating brew and packages ..."
brew bundle --file=~/brew/Brewfile
echo

### Brew services

echo "Handle brew service ..."
skhd --start-service
yabai --start-service
echo
{{- end }}

### zinit

if [ ! -d "$HOME/.local/share/zinit" ]; then
  echo "Installing zinit ..."
  bash -c "$(curl --fail --show-error --silent --location https://raw.githubusercontent.com/zdharma-continuum/zinit/HEAD/scripts/install.sh)"
else
  echo "Updating zinit ..."
  zinit self-update
fi

### mise

echo "Updating global mise-configured tools ..."
(cd ~ && mise install)
echo

{{ if eq .tools.nodejs true -}}

### npm

echo "Updating npm..."
npm i -g npm
echo
{{- end }}

### safe-chain

echo "Update / install safe-chain ..."
curl -fsSL https://github.com/AikidoSec/safe-chain/releases/latest/download/install-safe-chain.sh | sh

{{ if eq .chezmoi.os "darwin" -}}

### Phoenix

if [ ! -d "$HOME/.config/phoenix" ]; then
  echo "Installing phoenix config ..."
  git clone https://github.com/naeramarth7/phoenix-config.git "$HOME/.config/phoenix"
else
  echo "Updating phoenix config ..."
fi

(
  cd "$HOME/.config/phoenix"
  npm install
  npm run build
)
{{- end }}

### Completions

echo "Re-generate completions ..."
"$SCRIPT_DIR/completions-generate"

### Done

echo "Reloading environment ..."
exec $SHELL -l
