#!/usr/bin/env zsh

# rustup

echo "Install rustup and cargo"
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
cargo install cargo-binstall
export BINSTALL_DISABLE_TELEMETRY=true
.cargo/bin/cargo-binstall cargo-update -y
echo

echo "Install metapac"
.cargo/bin/cargo-binstall metapac -y
echo

SCRIPT_DIR="${0:A:h}"
"$SCRIPT_DIR/update"
