#!/bin/zsh

{{ if eq .chezmoi.os "darwin" -}}
# Add completions from packages installed with brew
# See: https://github.com/github/hub/issues/904
fpath=(/usr/local/share/zsh/site-functions $fpath)
fpath=(/opt/homebrew/share/zsh/site-functions $fpath)
fpath=({{ .chezmoi.homeDir }}/.zsh/completions $fpath)
{{- end }}

# forces zsh to realize new commands
zstyle ':completion:*' completer _oldlist _expand _complete _match _ignored _approximate

# pasting with tabs doesn't perform completion
zstyle ':completion:*' insert-tab pending

# rehash if command not found (possibly recently installed)
zstyle ':completion:*' rehash true

